<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5">
        <div class="text-center footer p-3 p-lg-5">
          <span>&copy; 2024 Guild Phoenix Nest. All rights reserved.</span>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-5">
        <div class="text-center footer p-3 p-lg-5">
          <span
            >Developed by <a href="https://worldofsites.net" target="_blank" rel="noopener noreferrer" title="Web-studio WorldOfSites">WorldOfSites</a></span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
