<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ '/nest/' | relative_url }}">
        <img src="{{ '/nest/assets/images/logo-phoenix-min.png' | relative_url }}" alt="Логотип Гильдии Phoenix Nest (Гнездо Феникса, Sirus-WoW)" class="logo img-fluid" />
      </a>
      <button
        class="navbar-toggler me-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-3 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link scroll-link" href="/#search">Поиск предметов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" href="/#items">Склады</a>
          </li> -->
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Полезное
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item" href="{{ '/nest/useful/ridiculous-deaths/' | relative_url }}" title="Список Нелепых Смертей ХК">СНС</a></li>
              <li><a class="dropdown-item" href="{{ '/nest/useful/useful-tips/' | relative_url }}" title="Полезные советы по выживанию на ХК">Полезные советы</a></li>
              <!-- <li><a class="dropdown-item" href="/faq.html" title="Часто задаваемые Вопросы">ЧаВо (FAQ)</a></li> -->
              <li><a class="dropdown-item" href="{{ '/nest/useful/dangerous-quests/' | relative_url }}">Опасные квесты</a></li>
              <!-- <li><a class="dropdown-item" href="/addons.html">Аддоны</a></li>
              <li><hr class="dropdown-divider bg-light" /></li>
              <li><a class="dropdown-item disabled" href="#" title="Страница Макросы запланирована в разработку">Макросы</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/nest/stories/' | relative_url }}">Байки ХК</a>
          </li>
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Гильдия
            </a>
            <ul class="dropdown-menu bg-dark">
              <!-- <li>
                <a class="dropdown-item" href="/warehouses.html">Складские персонажи</a>
              </li>
              <li>
                <a class="dropdown-item" href="/assistants.html">Помощники по складу</a>
              </li>
              <li>
                <a class="dropdown-item" href="/ranks.html">Звания</a>
              </li>
              <li>
                <a class="dropdown-item" href="/streamers.html">Наши стримеры</a>
              </li> -->
              <li>
                <a class="dropdown-item scroll-link" href="{{ '/nest/guild/about/' | relative_url }}">О нас</a>
              </li>
              <li>
                <a class="dropdown-item scroll-link" href="{{ '/nest/guild/politics/' | relative_url }}">Правила</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="icons d-flex justify-content-center align-items-center ms-auto mb-3 mb-lg-0">
          <a href="https://www.youtube.com/@PhoenixNestGuild" target="_blank" class="me-3" title="Наш канал на Youtube"
            ><i class="fa-brands fa-youtube fa-2x"></i
          ></a>
          <a href="https://www.twitch.tv/phoenixnestguild" target="_blank" class="me-3" title="Наш канал на Twich"><i class="fa-brands fa-twitch fa-2x"></i></a>
          <a href="https://discord.gg/UyvwHtv4u5" target="_blank" class="me-3" title="Наш сервер в Discord"><i class="fa-brands fa-discord fa-2x"></i></a>
          <a href="https://t.me/+HnliAMRqO9A5ZGVi" target="_blank" class="me-3" title="Наш чат в Telegram"><i class="fa-brands fa-telegram fa-2x"></i></a>
          <a href="https://github.com/Phoenix-Guilds" target="_blank" class="me-3" title="Наш репозиторий на Github"><i class="fa-brands fa-github fa-2x"></i></a>
        </div>
        <div class="navbar-background"></div>
      </div>
    </div>
  </nav>

  <div class="container my-3 my-lg-5">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center header">
        <img src="{{ '/nest/assets/images/header-min.png' | relative_url }}" class="img-fluid head-guild-logo" alt="Blizz-like logo Guild Phoenix Nest" />
      </div>
    </div>
  </div>
</header>
