

<div class="container main my-3 my-lg-5" id="touch">
  <div class="row">
    <div class="col-12 text-light">
      <div class="main-content p-5">
        <h3 class="text-center mb-3">Поддержать донатом Гильдию, на развитие наших каналов и других проектов</h3>
        <p class="text-center">
          Вся ваша поддержка является добровольной, и мы высоко ценим ваш вклад в развитие наших проектов. На некоторых площадках для донатов, ссылки на которые
          расположены ниже, Вы можете выбрать различные цели или проекты, которые вы хотите поддержать, отправив любую сумму в качестве поддержки. При
          перевыполнении целей сборов, их излишки могут быть переданы помощникам по складу (по их пожеланию), или перенесены на другие цели сборов.
        </p>
        <div class="row mt-5">
          <div class="col text-center">
            <a href="https://www.donationalerts.com/r/phoenixnest" target="_blank"
              ><img src="{{ '/nest/assets/images/buttons/DA-black-button.png' | relative_url }}" class="img-fluid main-content" style="height: 50px;"
            /></a>
          </div>
          <div class="col text-center">
            <a href="https://www.buymeacoffee.com/TekhnoKhobbIT" target="_blank"
              ><img
                src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=TekhnoKhobbIT&button_colour=e0ab1a&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"
                class="main-content"
            /></a>
          </div>
          <div class="col text-center">
            <a href="https://www.paypal.com/donate/?hosted_button_id=LG7F5LAEYQPY2"
              ><img src="{{ '/nest/assets/images/buttons/paypal-button-donation.png' | relative_url }}" class="img-fluid main-content" style="height: 50px;"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>