---
layout: nest-default
---

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/nest/">Главная</a></li>
          <li class="breadcrumb-item"><a href="/nest/useful/guides/">Гайды</a></li>
          <li class="breadcrumb-item active">{{ page.title }}</li>
        </ol>
      </nav>

      <h1 class="display-4 mb-3">{{ page.title }}</h1>
      <p class="text-muted"><em>Автор: {{ page.author }}</em></p>

      <div class="lead border-start border-4 border-primary ps-3 mb-4">
        {{ page.description }}
      </div>

      <div class="guide-content">
        {{ content }}
      </div>

      <hr class="my-5" />
      <a href="/nest/useful/guides/" class="btn btn-outline-primary">← Ко всем гайдам</a>
    </div>
  </div>
</div>
